<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Brilliant Topology</title>
        <link rel="stylesheet" type="text/css" href="examples/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="examples/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="builds/apps-topology.css">
        <link rel="stylesheet" type="text/css" href="examples/style.css">
    </head>
    <body ng-app="topo">
        <div id="wrapper" class="content-panel topos-wrapper"
            ng-controller="TopoCtrl">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="margin-bottom btn-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default"
                                ng-click="append('node')">
                                添加应用
                            </a>
                            <a class="btn btn-default"
                                ng-class="{'active': appendingType === 'link'}"
                                ng-click="append('link')">
                                添加关系
                            </a>
                            <div class="btn-group" uib-dropdown>
                                <button type="button"
                                    class="btn btn-default"
                                    uib-dropdown-toggle>
                                    添加其他 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li><a href ng-click="append('area')">区域</a></li>
                                    <li><a href ng-click="append('note')">注释</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="topo-tool">
                            <a href class="btn btn-default topo-tool-item"
                                ng-click="undo()"
                                ng-disabled="!canUndo">
                                撤销
                            </a>
                            <a href class="btn btn-default topo-tool-item"
                                ng-click="redo()"
                                ng-disabled="!canRedo">
                                重做
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-group btn--theme-switch">
                <button type="button"
                    class="btn btn-default"
                    ng-class="{'active': themeLight}"
                    ng-click="switchTheme('light')">
                    浅色
                </button>
                <button type="button"
                    class="btn btn-default"
                    ng-class="{'active': !themeLight}"
                    ng-click="switchTheme('dark')">
                    深色
                </button>
            </div>
            <div class="zoom-tool-container">
                <span class="zoom-rate">{{zoomRate | percentage:0}}</span>
                <div class="zoom-btn-group">
                    <button type="button" class="btn btn-default btn-sm"
                        ng-click="zoomTopo('in')">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm"
                        ng-click="zoomTopo('out')">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <button type="button" class="btn btn-default btn-sm"
                    ng-click="topoToggleFullscreen()">
                    <i class="fa fa-arrows-alt"></i>
                </button>
            </div>

            <div class="topo-container">
                <div id="topo-canvas"
                    ng-class="{'theme-dark': !themeLight}">
                    <div class="bounce-spinner" ng-show="loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <div class="topos-aside animated" ng-show="asideOpened">
                    <div class="toolbar-header">
                        <h3 class="toolbar-title">
                            <svg width="40" height="40" class="toolbar-shape"
                                ng-if="asideData.node.shape.shapeName === 'Sphere'">
                                <g class="node-icon" style="transform:translate(-2px,-1px)scale(0.8);">
                                    <circle class="shape shape-sphere" cx="22" cy="28" r="20"></circle>
                                    <path class="shape shape-line" d="M22 8A11 20 0 0 1 22 48A11 20 0 0 1 22 8L22 48M38 16A1 0.25 0 0 1 8 14M4 24A1 0.25 0 0 0 42 26M40 36A1 0.25 0 0 1 4 36"></path>
                                </g>
                            </svg>
                            <svg width="40" height="40" class="toolbar-shape"
                                ng-if="asideData.node.shape.shapeName === 'Cube'">
                                <g class="node-icon" style="transform:translate(-1px,1px)scale(0.8);">
                                    <polygon class="shape shape-polygon" points="19,10 36,16 36,38 19,44 2,38 2,16 19,10"></polygon>
                                    <path class="shape shape-line" d="M18 22L36, 16M19 22L19, 44M19 22L2, 16"></path>
                                </g>
                            </svg>
                            <svg width="40" height="40" class="toolbar-shape"
                                ng-if="asideData.node.shape.shapeName === 'Cylinder'">
                                <g class="node-icon" style="transform:translate(-1px,-5px)scale(0.9);">
                                    <path class="shape shape-cylinder" d="M2 20a 15 5 0 1 1 30 0v 22a 15 5 0 1 1 -30 0z"></path>
                                    <path class="shape shape-line" d="M2 20a 15 5 0 1 0 30 0M2 28a 15 5 0 1 0 30 0M2 36a 15 5 0 1 0 30 0"></path>
                                </g>
                            </svg>
                            <span ng-if="asideData.type === 'node'">{{asideData.node.name}}</span>
                            <span ng-if="asideData.type === 'link'">关系</span>
                            <span ng-if="asideData.type === 'area'">区域</span>
                            <span ng-if="asideData.type === 'note'">注释</span>
                        </h3>
                        <div class="toolbar-caption">
                            <p ng-if="asideData.type === 'link'">
                                <a target="_blank"
                                    ui-sref="cmdb.apps.app.index({'instanceId': asideData.node.source.appId})">
                                    {{asideData.node.source.name}}
                                </a>
                                -->
                                <a target="_blank"
                                    ui-sref="cmdb.apps.app.index({'instanceId': asideData.node.target.appId})">
                                    {{asideData.node.target.name}}
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="toolbar-body">
                        <div class="toolbar-row" ng-if="asideData.type === 'node'">
                            <div class="toolbar-row-item">
                                <h5 class="toolbar-row-title">类别1</h5>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Sphere', 'HTTP')"
                                    ng-class="{'active': asideData.node.shape.shapeName === 'Sphere' && asideData.node.label === 'HTTP'}">
                                    <svg width="56" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <circle class="shape shape-sphere" cx="22" cy="28" r="20"></circle>
                                            <path class="shape shape-line" d="M22 8A11 20 0 0 1 22 48A11 20 0 0 1 22 8L22 48M38 16A1 0.25 0 0 1 8 14M4 24A1 0.25 0 0 0 42 26M40 36A1 0.25 0 0 1 4 36"></path>
                                            <path class="shape-label-bg" d="M17 14L17 10A6 6 0 0 1 23 4L49 4A6 6 0 0 1 55 10L55 18A6 6 0 0 1 49 24L23 24A6 6 0 0 1 17 18Z"></path>
                                            <text class="shape-label-text" x="21" y="19">HTTP</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Sphere', 'TCP')"
                                    ng-class="{'active': asideData.node.label === 'TCP'}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <circle class="shape shape-sphere" cx="22" cy="28" r="20"></circle>
                                            <path class="shape shape-line" d="M22 8A11 20 0 0 1 22 48A11 20 0 0 1 22 8L22 48M38 16A1 0.25 0 0 1 8 14M4 24A1 0.25 0 0 0 42 26M40 36A1 0.25 0 0 1 4 36"></path>
                                            <path class="shape-label-bg" d="M17 14L17 10A6 6 0 0 1 23 4L43 4A6 6 0 0 1 49 10L49 18A6 6 0 0 1 43 24L23 24A6 6 0 0 1 17 18Z"></path>
                                            <text class="shape-label-text" x="21" y="19">TCP</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Sphere')"
                                    ng-class="{'active': asideData.node.shape.shapeName === 'Sphere' && !asideData.node.label}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon" style="transform:translate(5px,0);">
                                            <circle class="shape shape-sphere" cx="22" cy="28" r="20"></circle>
                                            <path class="shape shape-line" d="M22 8A11 20 0 0 1 22 48A11 20 0 0 1 22 8L22 48M38 16A1 0.25 0 0 1 8 14M4 24A1 0.25 0 0 0 42 26M40 36A1 0.25 0 0 1 4 36"></path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="toolbar-row-item">
                                <h5 class="toolbar-row-title">类别2</h5>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cube', 'HTTP')"
                                    ng-class="{'active': asideData.node.shape.shapeName === 'Cube' && asideData.node.label === 'HTTP'}">
                                    <svg width="56" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <polygon class="shape shape-polygon" points="19,10 36,16 36,38 19,44 2,38 2,16 19,10"></polygon>
                                            <path class="shape shape-line" d="M18 22L36, 16M19 22L19, 44M19 22L2, 16"></path>
                                            <path class="shape-label-bg" d="M17 14L17 10A6 6 0 0 1 23 4L49 4A6 6 0 0 1 55 10L55 18A6 6 0 0 1 49 24L23 24A6 6 0 0 1 17 18Z"></path>
                                            <text class="shape-label-text" x="21" y="19">HTTP</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cube', 'RPC')"
                                    ng-class="{'active': asideData.node.label === 'RPC'}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <polygon class="shape shape-polygon" points="19,10 36,16 36,38 19,44 2,38 2,16 19,10"></polygon>
                                            <path class="shape shape-line" d="M18 22L36, 16M19 22L19, 44M19 22L2, 16"></path>
                                            <path class="shape-label-bg" d="M17 14L17 10A6 6 0 0 1 23 4L43 4A6 6 0 0 1 49 10L49 18A6 6 0 0 1 43 24L23 24A6 6 0 0 1 17 18Z"></path>
                                            <text class="shape-label-text" x="21" y="19">RPC</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cube')"
                                    ng-class="{'active': asideData.node.shape.shapeName === 'Cube' && !asideData.node.label}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon" style="transform:translate(5px,0);">
                                            <polygon class="shape shape-polygon" points="19,10 36,16 36,38 19,44 2,38 2,16 19,10"></polygon>
                                            <path class="shape shape-line" d="M18 22L36, 16M19 22L19, 44M19 22L2, 16"></path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="toolbar-row-item">
                                <h5 class="toolbar-row-title">类别3</h5>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cylinder', 'RDS')"
                                    ng-class="{'active': asideData.node.label === 'RDS'}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <path class="shape shape-cylinder" d="M2 20a 15 5 0 1 1 30 0v 22a 15 5 0 1 1 -30 0z"></path>
                                            <path class="shape shape-line" d="M2 20a 15 5 0 1 0 30 0M2 28a 15 5 0 1 0 30 0M2 36a 15 5 0 1 0 30 0"></path>
                                            <path class="shape-label-bg" d="M10 17L10 13A6 6 0 0 1 16 7L36 7A6 6 0 0 1 42 13L42 21A6 6 0 0 1 36 27L16 27A6 6 0 0 1 10 21Z"></path>
                                            <text class="shape-label-text" x="15" y="21">RDS</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cylinder', 'NoSql')"
                                    ng-class="{'active': asideData.node.label === 'NoSql'}">
                                    <svg width="56" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <path class="shape shape-cylinder" d="M2 20a 15 5 0 1 1 30 0v 22a 15 5 0 1 1 -30 0z"></path>
                                            <path class="shape shape-line" d="M2 20a 15 5 0 1 0 30 0M2 28a 15 5 0 1 0 30 0M2 36a 15 5 0 1 0 30 0"></path>
                                            <path class="shape-label-bg" d="M10 17L10 13A6 6 0 0 1 16 7L48 7A6 6 0 0 1 54 13L54 21A6 6 0 0 1 48 27L16 27A6 6 0 0 1 10 21Z"></path>
                                            <text class="shape-label-text" x="15" y="21">NoSql</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cylinder', 'Cache')"
                                    ng-class="{'active': asideData.node.label === 'Cache'}">
                                    <svg width="56" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <path class="shape shape-cylinder" d="M2 20a 15 5 0 1 1 30 0v 22a 15 5 0 1 1 -30 0z"></path>
                                            <path class="shape shape-line" d="M2 20a 15 5 0 1 0 30 0M2 28a 15 5 0 1 0 30 0M2 36a 15 5 0 1 0 30 0"></path>
                                            <path class="shape-label-bg" d="M10 17L10 13A6 6 0 0 1 16 7L48 7A6 6 0 0 1 54 13L54 21A6 6 0 0 1 48 27L16 27A6 6 0 0 1 10 21Z"></path>
                                            <text class="shape-label-text" x="15" y="21">Cache</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cylinder', 'File')"
                                    ng-class="{'active': asideData.node.label === 'File'}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon">
                                            <path class="shape shape-cylinder" d="M2 20a 15 5 0 1 1 30 0v 22a 15 5 0 1 1 -30 0z"></path>
                                            <path class="shape shape-line" d="M2 20a 15 5 0 1 0 30 0M2 28a 15 5 0 1 0 30 0M2 36a 15 5 0 1 0 30 0"></path>
                                            <path class="shape-label-bg" d="M10 17L10 13A6 6 0 0 1 16 7L38 7A6 6 0 0 1 44 13L44 21A6 6 0 0 1 38 27L16 27A6 6 0 0 1 10 21Z"></path>
                                            <text class="shape-label-text" x="15" y="21">File</text>
                                        </g>
                                    </svg>
                                </a>
                                <a href class="toolbar-shape-item" ng-click="changeNodeType('Cylinder')"
                                    ng-class="{'active': asideData.node.shape.shapeName === 'Cylinder' && !asideData.node.label}">
                                    <svg width="50" height="50" class="toolbar-shape">
                                        <g class="node-icon" style="transform:translate(5px,0);">
                                            <path class="shape shape-cylinder" d="M2 20a 15 5 0 1 1 30 0v 22a 15 5 0 1 1 -30 0z"></path>
                                            <path class="shape shape-line" d="M2 20a 15 5 0 1 0 30 0M2 28a 15 5 0 1 0 30 0M2 36a 15 5 0 1 0 30 0"></path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="toolbar-row" ng-if="asideData.type === 'note'">
                            <textarea class="form-control"
                                ng-model="currentNote"
                                ng-change="changeNote(currentNote)"></textarea>
                        </div>
                    </div>
                    <div class="toolbar-footer">
                        <button type="button"
                            class="btn btn-default btn-delete"
                            ng-click="remove()">
                            删除
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="builds/d3.js"></script>
        <script type="text/javascript" src="examples/lodash.min.js"></script>
        <script type="text/javascript" src="builds/apps-topology.js"></script>
        <script type="text/javascript" src="examples/index-build.js"></script>
    </body>
</html>
