$base-font-family: "HiraginoSansGB", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
$base-font-size: 14px;

$easyops-color: #167be0;
$highlight-color: #f16601;

$active-stroke: $easyops-color;
$hover-stroke: $easyops-color;

$node-stroke: #ffffff;
$node-fill: $easyops-color;
$node-stroke-width: 1.5px;
$node-bg-width: 10px;
$node-hover-stroke: #ffffff;
$node-hover-fill: $highlight-color;
$node-hover-text-color: $highlight-color;
$node-active-stroke: #ffffff;
$node-active-fill: $highlight-color;
$node-active-text-color: $highlight-color;
$node-text-color: $easyops-color;

$link-stroke: #CBCBCB;
$link-stroke-width: 1px;
$link-bg-width: 10px;
$link-hover-stroke: $highlight-color;
$link-active-stroke: $highlight-color;
$link-success-stroke: #4bd126;
$link-warn-stroke: #ff8c19;
$link-danger-stroke: #ff0016;
$link-text-color: #909090;

$area-stroke: #dcdcdc;
$area-fill: #f9f9f9;
$area-hover-stroke: #dcdcdc;
$area-active-stroke: #dcdcdc;
$area-active-fill: #f9f9f9;
$area-hover-fill: #f9f9f9;

$note-stroke: #A7B3BE;
$note-fill: #fffefe;
$note-color: #7a7e85;
$note-hover-color: $highlight-color;
$note-hover-text-color: $highlight-color;
$note-active-color: $highlight-color;
$note-active-text-color: $highlight-color;

$shape-capacity-bg-stroke: #c1c1c1;
$shape-capacity-bg-fill: #ffffff;
$shape-capacity-circle-stroke: $easyops-color;
$shape-capacity-circle-hover-stroke: $highlight-color;
$shape-capacity-circle-active-stroke: $highlight-color;

$shape-label-stroke: $easyops-color;
$shape-label-hover-stroke: $highlight-color;
$shape-label-active-stroke: $highlight-color;
$shape-label-stroke-width: 2px;
$shape-label-bg-fill: #ffffff;
$shape-label-bg-hover-fill: #ffffff;
$shape-label-bg-active-fill: #ffffff;;
$shape-capacity-bg-stroke-width: 1;
$shape-label-text-color: #7e7e7e;
$shape-label-text-hover-color: #7e7e7e;
$shape-label-text-active-color: #7e7e7e;
$shape-label-text-font-size: 10px;

.apps-topology,
.apps-topology-html {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.apps-topology {
  // opacity: .3;
  visibility: hidden;
  display: none;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;

  .marker {
    fill: $link-stroke;

    &.hover {
      fill: $link-hover-stroke;
    }

    &.active {
      fill: $link-active-stroke;
    }

    &.success {
      fill: $link-success-stroke;
    }

    &.warn {
      fill: $link-warn-stroke;
    }

    &.danger {
      fill: $link-danger-stroke;
    }
  }

  .node {
    cursor: pointer;

    .shape {
      fill: $node-fill;
      stroke: $node-stroke;
      stroke-width: $node-stroke-width;
    }

    .node-text {
      &.hidden {
        visibility: hidden;
      }
      fill: $node-text-color;
      text-anchor: middle;
    }

    &.hover,
    &:hover {
      .shape {
        stroke: $node-hover-stroke;
        fill: $node-hover-fill;
      }
      .node-text {
        fill: $node-hover-text-color;
      }
      .shape-capacity-circle {
        stroke: $shape-capacity-circle-hover-stroke;
      }
      .node-label {
        .shape-label-bg {
          stroke: $shape-label-hover-stroke;
          fill: $shape-label-bg-hover-fill;
        }
        .shape-label-text {
          fill: $shape-label-text-hover-color;
        }
      }
    }

    &.active {
      .shape {
        stroke: $node-active-stroke;
        fill: $node-active-fill;
      }
      .node-text {
        fill: $node-active-text-color;
      }
      .node-label {
        .shape-label-bg {
          stroke: $shape-label-hover-stroke;
          fill: $shape-label-bg-active-fill;
        }
        .shape-label-text {
          fill: $shape-label-text-active-color;
        }
      }
      .shape-capacity-circle {
        stroke: $shape-capacity-circle-active-stroke;
      }
    }

    .shape-capacity-bg {
      fill: $shape-capacity-bg-fill;
      stroke-width: $shape-capacity-bg-stroke-width;
      stroke: $shape-capacity-bg-stroke;
    }

    .shape-capacity-circle {
      fill: none;
      stroke-width: 2;
      stroke: $shape-capacity-circle-stroke;
      stroke-linecap: round;
    }

    .shape-capacity-bg,
    .shape-capacity-circle {
      visibility: hidden;
    }

    .node-label {
      &.hidden {
        visibility: hidden;
      }
      .shape-label-bg {
        fill: $shape-label-bg-fill;
        stroke: $shape-label-stroke;
        stroke-width: $shape-label-stroke-width;
      }

      .shape-label-text {
        fill: $shape-label-text-color;
        text-anchor: middle;
        font-size: $shape-label-text-font-size;
      }
    }

    &.visible {
      .shape-capacity-bg,
      .shape-capacity-circle {
        visibility: visible;
      }
    }
  }

  .link {
    cursor: pointer;

    .link-arrow {
      stroke: $link-stroke;
      stroke-width: $link-stroke-width;
      &.success {
        stroke: $link-success-stroke
      }
      &.warn {
        stroke: $link-warn-stroke
      }
      &.danger {
        stroke: $link-danger-stroke
      }
    }

    .link-bg {
      stroke: transparent;
      stroke-linecap: round;
      stroke-width: $link-bg-width;
    }

    text {
      fill: $link-text-color;
      // font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: 12px;
      text-anchor: middle;
      visibility: hidden;
    }

    &:hover {
        .link-arrow {
          stroke: $link-hover-stroke;
        }

        text {
          fill: $link-hover-stroke;
        }
    }

    &.active,
    &.active:hover {
      .link-arrow {
        stroke: $link-active-stroke;
      }

      text {
        fill: $link-active-stroke;
      }
    }
  }

  .area {
    .area-bg {
      fill: $area-fill;
      stroke: $area-stroke;
      stroke-dasharray: 5, 5;
      stroke-width: 1;
    }

    .area-handle {
      fill: transparent;
      pointer-events: none;
      stroke: none;
      visibility: none;
    }

    .area-handle-north-west,
    .area-handle-south-east {
      cursor: nwse-resize;
    }

    .area-handle-north-east,
    .area-handle-south-west {
      cursor: nesw-resize;
    }

    .area-handle-north,
    .area-handle-south {
      cursor: ns-resize;
    }

    .area-handle-west,
    .area-handle-east {
      cursor: ew-resize;
    }

    &.active {
      .area-bg {
        fill: $area-active-fill;
        stroke: $area-active-stroke;
      }

      .area-handle {
        visibility: visible;
        pointer-events: auto;
      }
    }

    &:hover:not(.active) {
      .area-bg {
        fill: $area-hover-fill;
        stroke: $area-hover-stroke;
      }
    }
  }

  .note {
    cursor: pointer;

    .note-bg {
      fill: $note-fill;
      stroke: $note-stroke;
      stroke-width: 1.5px;
    }

    .note-text {
      fill: $note-color;
      text-anchor: middle;
    }

    .note-tspan {
      text-anchor: middle;
    }

    .arrow-handle {
      cursor: move;
      fill: orange;
      stroke: #999;
      visibility: hidden;
    }

    &.active {
      .note-bg {
        stroke: $note-active-color;
      }
      .note-text {
        fill: $note-active-text-color;
      }

      &.drag-note-arrow-enabled .arrow-handle {
        visibility: visible;
      }
    }

    &:hover:not(.active) {
      .note-bg {
        stroke: $note-hover-color;
      }
      .note-text {
        fill: $note-active-text-color;
      }
    }
  }

  .guide line {
    stroke: red;
    stroke-width: 1;
    visibility: hidden;
  }

  .user-canvas {
    line {
      visibility: hidden;
      stroke: $link-stroke;
      stroke-width: $link-stroke-width;
      pointer-events: none;

      &.active {
        visibility: visible;
      }
    }

    rect {
        visibility: hidden;
        fill: none;
        stroke: rgba(0,0,0,.8);
        stroke-width: 1;
        stroke-dasharray: 5, 5;
        pointer-events: none;

        &.active {
            visibility: visible;
        }
    }
  }

  &.fixed {
    // opacity: 1;
    display: inline;
    visibility: visible;
  }

  &.dragging-node,
  &.dragging-area,
  &.dragging-note,
  &.dragging-note-arrow {
    cursor: move;
  }

  &.dragging-canvas {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }

  &.dragging-node {
    .guide line.active {
      visibility: visible;
    }

    .node {
      cursor: inherit;
    }

    .link,
    .area,
    .note {
      pointer-events: none;
    }
  }

  &.linking {
    &,
    .node,
    .link,
    .note {
      cursor: crosshair;
    }

    .area,
    .link,
    .note {
      pointer-events: none;
    }
  }

  &.drawing-area {
    cursor: crosshair;

    .area {
      pointer-events: none;
    }
  }

  /* &.dragging-area {
    .area {
      cursor: move;
    }
  } */

  &.dragging-area,
  &.resizing-area,
  &.drawing-area {
    .node,
    .link,
    .note {
      pointer-events: none;
    }
  }

  /* &.dragging-note {
    .note {
      cursor: move;
    }
  } */

  &.dragging-note,
  &.dragging-note-arrow {
    .note {
      cursor: inherit;
    }

    .node,
    .link,
    .area {
      pointer-events: none;
    }
  }

  &.show-link-text {
    .link text {
      visibility: visible;
    }
  }

  .hover-inactive {
    &.node,
    &.area,
    &.note {
      opacity: 0.3;
    }

    &.link {
      opacity: 0.15;
    }
  }
}

.apps-topology-html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  .input-text {
    font-family: $base-font-family;
    font-size: $base-font-size;
    position: absolute;
    width: 120px;
    visibility: hidden;
    text-align: center;
  }

  &.active {
    display: block;

    .input-text.active {
      visibility: visible;
    }
  }

  &.locating-note {
    cursor: text;
  }
}
