.topos-table {
    th,
    td {
        .dropdown-menu {
            min-width: 0;
        }
    }
}

.topo-base-wrapper {
    position: relative;
    transition: all .2s;
    &.content-panel {
        padding: 0;
    }
    &.dark {
        background: #1a2127;
        .panel-heading {
            h4 {
                color: #e3e3e3;
            }
        }
        .zoom-btn-group {
            opacity: 0.9;
        }
        .topo-cutline-wrapper {
            color: #ffffff;
            opacity: 0.9;
            .topo-cutline {
                .cutline-item {
                    color: #ffffff;
                    opacity: 0.9;
                }
            }
        }
    }
    .panel-heading {
        position: relative;
        padding: 0;
        font-size: 16px;
        color: #565656;
        h4 {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

.page-title-container {
    .close-aside__top {
        opacity: 1;
        & > i {
            font-size: 24px;
            color: #167be0;
        }
    }
}

.topos-wrapper {
    position: relative;
    &.content-panel {
        padding: 0;
    }
    .divider {
        height: 1px;
        background: #e1e1e1;
    }
    .tab-content {
        position: absolute;
        left: 25px;
        top: 31px;
        z-index: 2;
        .btn-toolbar {
            .btn {
                padding: 5px;
                line-height: 14px;
                border: none;
                box-shadow: 0 1px 3px 0 #9e9e9e;
                color: #787878;
            }
            .dropdown-menu {
                top: 100%;
                top: calc(100% + 5px);
                min-width: 0;
                width: 100%;
                & > li > a {
                    color: #4c4c4c;
                    &:hover,
                    &:focus {
                        background: #e2f0ff;
                    }
                }
            }
        }
        .topo-tool {
            margin-left: 15px;
            display: inline-block;
            .topo-tool-item {
                & + .topo-tool-item {
                    margin-left: 11px;
                }
            }
        }
    }
}

.topo-theme-switch {
    position: absolute;
    top: 0;
    right: 10%;
    height: 26px;
    :checked+ i {
        background: #167be0;
        padding-left: 22px;
        padding-right: 1px;
    }
    input+ i {
        background: #5f5f5f;
        padding-left: 1px;
        padding-right: 22px;
        &::before {
            width: 22px;
            height: 22px;
        }
    }
    .switch-text__on,
    .switch-text__off {
        position: absolute;
        top: 2px;
        font-size: 14px;
        color: #ffffff;
        opacity: 0.9;
        cursor: pointer;
    }
    .switch-text__on {
        left: 6px;
    }
    .switch-text__off {
        right: 6px;
    }
}

.topo-cutline-wrapper {
    position: relative;
    font-size: 14px;
    .topo-toolbar-title {
        float: left;
        margin-right: 15px;
    }
    .topo-cutline {
        float: left;
        .cutline-item {
            color: #7a7e85;
            & + .cutline-item {
                margin-left: 15px;
            }
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-right: 3px;
                border-radius: 50%;
            }
            $green: #4bd126;
            $red: #ff0016;
            $yellow: #ff8c19;
            &.cutline-green {
                &::before {
                    background: $green;
                }
            }
            &.cutline-red {
                &::before {
                    background: $red;
                }
            }
            &.cutline-yellow {
                &::before {
                    background: $yellow;
                }
            }
        }
    }
}

.zoom-tool-container {
    position: absolute;
    bottom: 30px;
    right: 27px;
    z-index: 2;
    .zoom-rate {
        display: block;
        margin-bottom: 8px;
        min-width: 31px;
        text-align: center;
        font-size: 12px;
        color: #9b9b9b;
    }
    .zoom-btn-group {
        margin: 0 auto 8px;
        width: 25px;
        background-color: rgba(#fff, 0.8);
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 #9e9e9e;
        .btn {
            display: block;
            padding: 3px 8px;
            border: 0;
            color: #787878;
        }
    }
    & > .btn {
        display: block;
        margin: 0 auto 8px;
        padding: 3px 7px;
        width: 25px;
        height: 24px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 #9e9e9e;
        border: 0;
        color: #787878;
    }
}

.topo-container {
    z-index: 1;
    .spinner {
        margin-top: 20%;
    }
    #topo-canvas {
        position: relative;
        overflow: hidden;
        .apps-topology {
            display: block;
            margin: 0 auto;
            z-index: 1;
        }
        &.theme-dark {
            $note-bg: #232e40;
            $bg-fill: #1e2837;
            background: #1e2837;
            .apps-topology {
                .marker:not(.success):not(.warn):not(.danger) {
                    fill: #4b535f;
                    &.hover {
                        fill: #f16601;
                    }
                }
                .area {
                    .area-bg {
                        stroke: #404f5b;
                        fill: $note-bg;
                    }
                }
                .node {
                    .shape {
                        fill: #fff;
                        stroke: #253249;
                    }
                    .shape-capacity-circle {
                        fill: $bg-fill;
                        stroke: #fff;
                    }
                    .shape-capacity-bg {
                        stroke: #606060;
                        fill: $bg-fill;
                    }
                    .shape-label-bg {
                        fill: #f4f9ff;
                        stroke: #253249;
                    }
                    .shape-label-text {
                        fill: #969696;
                    }
                    text {
                        fill: rgba(#fff, 0.7);
                    }
                    &:hover,
                    &.hover {
                        .shape {
                            fill: #f16601;
                        }
                        .shape-label-bg {
                            fill: #f16601;
                        }
                        .shape-label-text {
                            fill: $bg-fill;
                        }
                        text {
                            fill: #f16601;
                        }
                        .shape-capacity-circle {
                            stroke: #f16601;
                        }
                    }
                }
                .link {
                    &:not(:hover):not(.hover) {
                        .link-arrow:not(.success):not(.warn):not(.danger) {
                            stroke: #4b535f;
                        }
                    }
                    &:hover,
                    &.hover {
                        .link-arrow {
                            stroke: #f16601;
                        }
                    }
                }
                .note {
                    .note-bg {
                        stroke: #91969f;
                        fill: #1e2837;
                    }
                    .note-text {
                        fill: #91969f;
                    }
                }
            }
        }
    }
    .topos-aside {
        position: absolute;
        top: 0;
        right: 0;
        width: 260px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        opacity: 1;
        background: #ffffff;
        box-shadow: -1px 0 2px 0 #bcbcbc;
        z-index: 10;
        &.ng-hide-add,
        &.ng-hide-remove {
            transition: all 0.2s;
        }
        &.ng-hide {
            right: -230px;
            opacity: 0;
        }
        .toolbar-header {
            padding: 15px;
            width: 260px;
            border-bottom: 1px solid #e1e1e1;
            &::before {
                content: " ";
                display: table;
            }
            .toolbar-title {
                margin: 0;
                display: table;
                font: 16px/17px normal;
                color: #4c4c4c;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .toolbar-shape {
                .shape-sphere,
                .shape-polygon,
                .shape-cylinder,
                .shape-line {
                    stroke-width: 1.5px;
                    stroke: #fff;
                    fill: #167be0;
                }
                .shape-label-bg {
                    stroke-width: 2px;
                    stroke: #167be0;
                    fill: #fff;
                }
                .shape-label-text {
                    fill: #7e7e7e;
                    font-size: 12px;
                }
            }
            .toolbar-caption {
                dl {
                    margin-bottom: 0;
                    padding-top: 15px;
                    font-size: 12px;
                    color: #787878;
                    dt {
                        display: inline-block;
                    }
                    dd {
                        display: inline-block;
                    }
                }
                p {
                    padding: 10px 0 0;
                }
            }
            .close {
                float: right;
                margin-top: -1px;
                padding: 0;
                font: 20px/1 bold;
                opacity: 1;
                cursor: pointer;
                i {
                    color: #167be0;
                }
            }
        }
        .toolbar-body {
            width: 260px;
            .toolbar-row {
                padding: 15px;
                border-bottom: 1px solid #e1e1e1;
                & > div {
                    &:first-child {
                        margin-top: 10px;
                    }
                }
                .toolbar-row-title {
                    margin: 9px 0;
                    font: 12px/1 normal;
                    color: #999999;
                }
            }
            .toolbar-shape-item {
                display: inline-block;
                padding: 6px 10px;
                width: 70px;
                text-align: center;
                &:hover,
                &.active {
                    background-color: #e2f0ff;
                }
                .toolbar-shape {
                    cursor: pointer;
                    .shape-sphere,
                    .shape-polygon,
                    .shape-cylinder,
                    .shape-line {
                        stroke-width: 1.5px;
                        stroke: #fff;
                        fill: #167be0;
                    }
                    .shape-label-bg {
                        stroke-width: 2px;
                        stroke: #167be0;
                        fill: #fff;
                    }
                    .shape-label-text {
                        fill: #7e7e7e;
                        font-size: 12px;
                    }
                }
            }
        }
        .toolbar-footer {
            position: relative;
            .btn-delete {
                position: absolute;
                top: 17px;
                right: 25px;
                padding: 5px;
                line-height: 14px;
                background-color: #ececec;
                border: 0;
            }
        }
    }
}

.topos-wrapper {
    font-size: 14px;
    position: relative;
    transition: all .2s;
    &.content-panel {
        padding: 0;
    }
    &.dark {
        background: #1a2127;
        .zoom-btn-group {
            .btn {
                background-color: rgba(#ffffff, 0.8);
                color: #1c2635;
                &:hover,
                &.active {
                    color: #ffffff;
                    background: #32425b;
                }
            }
        }
        .btn--theme-switch {
            .btn {
                box-shadow: 0 1px 3px 0 #141a25;
                background-color: rgba(#ffffff, 0.8);
                color: #1c2635;
                &.active {
                    color: #ffffff;
                    background: #32425b;
                }
            }
        }
    }
    .tab-content {
        position: absolute;
        left: 25px;
        top: 31px;
        z-index: 2;
        .btn-toolbar {
            .btn {
                padding: 5px;
                line-height: 14px;
                border: none;
                box-shadow: 0 1px 3px 0 #9e9e9e;
                color: #787878;
                transition: all .2s ease;
                &:hover,
                &.active {
                    color: #fff;
                    background-color: #167be0;
                }
                &.dark {
                    box-shadow: 0 1px 3px 0 #141a25;
                    background-color: rgba(#ffffff, 0.8);
                    color: #1c2635;
                    &:hover,
                    &.active {
                        color: #ffffff;
                        background: #32425b;
                    }
                }
            }
            .dropdown-menu {
                top: 100%;
                top: calc(100% + 5px);
                min-width: 0;
                width: 100%;
                & > li > a {
                    color: #4c4c4c;
                    &:hover,
                    &:focus {
                        background: #e2f0ff;
                    }
                }
            }
        }
        .topo-tool {
            margin-left: 15px;
            display: inline-block;
            .topo-tool-item {
                & + .topo-tool-item {
                    margin-left: 11px;
                }
            }
        }
    }
    .spinner {
        margin-top: 20%;
    }
    .btn--theme-switch {
        position: absolute;
        right: 28px;
        top: 31px;
        z-index: 2;
        .btn {
            padding: 5px;
            line-height: 14px;
            border: none;
            box-shadow: 0 1px 3px 0 #9e9e9e;
            color: #787878;
            &.active {
                color: #ffffff;
                background-color: #167be0;
            }
        }
    }

}

.form-control-list-select {
    ul.list-select {
        li.disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
}
